body{
  padding: 0px;
  margin: 0px;
}
nav span{
  display: inline-block;
  padding: 20px 10px;
}

header{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  width: 100%;
  height: 80px;
}

h1{
  color: aquamarine;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  border: 1px solid black;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumaquamarine;
}

nav{
  /* display: block; */
}

a{
  color: black;
}

header nav{
  padding-right: 40px;
}

.content{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  padding-top: 100px;
}

.column-large {
  width: 630px;
  border: 1px solid black;
  padding-right: 20px;
}

.column-medium {
  width: 300px;
  border: 1px solid black;
  padding-right: 20px;

}

.column-small {
  width: 240px;
  border: 1px solid black;
}

.story{
  border: 2px solid black;
}

.article-title{
  border-bottom: 1px solid black;
}

.story2{
  border: 1px solid black;
}

.links{
  border: 1px solid black;
}
